@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}

main .estadoTicket{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    justify-content: center;
    margin: 70px auto;
  
}

.estadoTicket .titulo{
    font-size: 1rem;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 30px;
    margin: 0 0 15px 0;
    padding: 15px 0 15px 0;
    text-align: center;
    border-radius: 5px;
}

.estadoTicket .imgTicket{
    width: 100px;
    margin: auto;
    display: block;
}

.estadoTicket .txtTicket{
    font-size: 1.3rem;
    color: inherit;
    padding: 10px;
    text-align: center;
}
/*estado ticket*/
.form-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

  
.form-vertical label {
    width: 50%;
    display: block;
    margin-top: 10px;
  
    display: flex;
    flex-direction: column; 
  }

 label input,  textarea {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-vertical .btnBoton{
    width: 15%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
  }
    .form-vertical .btnBoton:hover{
        background-color: #4cae4c;
    }


