<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/clientes/dashboard.css">
    <title>inicio</title>
</head>

<body>
    <main>
        <div class="fila">
            <div class="estadísticas">
                <div class="icon">
                    <ion-icon name="ticket"></ion-icon>
                </div>
                <div class="contar">0</div>
                <h3>Total de Tickets</h3>
            </div>
            <div class="estadísticas">
                <div class="icon">
                    <ion-icon name="mail" class="ico"></ion-icon>
                </div>
                <div class="contar">0</div>
                <h3>Pendientes</h3>
            </div>
            <div class="estadísticas">
                <div class="icon">
                    <ion-icon name="folder-open" class="ico"></ion-icon>
                </div>
                <div class="contar">0</div>
                <h3>En Proceso</h3>
            </div>
            <div class="estadísticas">
                <div class="icon">
                    <img src="../../img/like.png" class="ico" alt="" width="32px" height="32px">
                </div>
                <div class="contar">0</div>
                <h3>Resueltos</h3>
            </div>
        </div>

    </main>
</body>

</html>