<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/clientes.css">
    <title>Clientes</title>
</head>

<body>
    <main>
        <div class="header">
            <img src="../img/people.png" alt="clientes ico" width="80" title="clientes ico">
            <div class="usuarios">
                <div class="icon">
                    <ion-icon name="people"></ion-icon>
                </div>
                <div style="font-size: 30px; color: #34495e;">Usuarios</div>
            </div>
            <div class="linea"></div>
        </div>

        <div class="contenido">
            <div class="formulario">
                <button class="btnAgregar">Agregar Cliente</button>
            </div>
            <div class="tabla">
                <table>
                    <thead>
                        <tr>
                            <th class="numero">#</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Teléfono</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="numero">1</td>
                            <td>Carlos Arturo</td>
                            <td>carlos23@gmail.com</td>
                            <td>HolaMundo2</td>
                            <td>+50245783412</td>
                            <td><button class="trash" title="Eliminar"><ion-icon name="trash-bin"></ion-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="numero">2</td>
                            <td>Luis Miguel</td>
                            <td>miguel@gmail.com</td>
                            <td>2025gta</td>
                            <td>+50290324590</td>
                            <td><button class="trash" title="Eliminar"><ion-icon name="trash-bin"></ion-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</body>

</html>