<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/clientes.css">
    <title>Clientes</title>
</head>

<body>
    <main>
        <div class="header">
            <img src="../img/people.png" alt="clientes ico" width="80" title="clientes ico">
            <div class="usuarios">
                <div class="icon">
                    <ion-icon name="people"></ion-icon>
                </div>
                <div style="font-size: 30px; color: #34495e;">Usuarios</div>
            </div>
            <div class="linea"></div>
        </div>

        <div class="contenido">
            <div class="formulario">
                <button id="openModal" class="btnAgregar">Agregar Cliente</button>

                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span id="closeModal" class="close">&times;</span>
                        <h2>Formulario Cliente</h2>
                        <form id="clienteForm">
                            <input type="text" name="nombre" placeholder="Nombre" required />
                            <input type="email" name="correo" placeholder="Email" required />
                            <input type="password" name="contrasena" placeholder="Contraseña" required />
                            <input type="tel" name="telefono" placeholder="Teléfono" required />
                            <button type="submit">Guardar</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="tabla">
                <table id="tablaClientes">
                    <thead>
                        <tr>
                            <th class="numero">#</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Teléfono</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas se insertan desde JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="../js/cliente.js" type="module"></script>
    <script src="../js/obtener_clientes.js" type="module"></script>
</body>

</html>