<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/empleados.css">
    <title>Empleados</title>
</head>

<body>
    <main>
        <div class="header">
            <img src="../img/employee.png" alt="empleados ico" width="80" title="empleados ico">
            <div class="empleados">
                <div class="icon">
                    <ion-icon name="people"></ion-icon>
                </div>
                <div style="font-size: 30px; color: #34495e;">Técnicos</div>
            </div>
            <div class="linea"></div>
        </div>

        <class class="contenido">
            <div class="formulario">
                <button id="openModal2"  class="btnAgregar">Agregar Cliente</button>

                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <span id="closeModal2" class="close">&times;</span>
                        <h2>Formulario Empleado</h2>
                        <form id="empleadoForm2">
                            <input type="text" name="nombre" placeholder="Nombre" required />
                            <input type="email" name="email" placeholder="Email" required />
                            <input type="password" name="password" placeholder="Contraseña" required />
                            <input type="tel" name="telefono" placeholder="Teléfono" required />
                            <button type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tabla">
                <table id="tablaEmpleados">
                    <thead>
                        <tr>
                            <th class="numero">#</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Teléfono</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                     <!-- Filas se insertan desde JavaScript -->
                    </tbody>
                </table>
            </div>
        </class>
    </main>
    <script src="../js/empleado.js"></script>
    <script src="../js/obtener_empleados.js" type="module"></script>
</body>

</html>