<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/tickets.css">
    <title>tickets</title>
</head>

<body>
    <main>
        <div class="header">
            <div style="font-size: 30px; font-weight: 600; color: #34495e;">Panel Administrativo</div>
            <div class="fechaHora">
                <div class="time" style="display: inline;">05/05/2025</div>
                <ion-icon class="iconDate" name="calendar-outline"></ion-icon>
            </div>
            <div class="linea"></div>
        </div>

        <div class="contenido">
            <div class="texto">
                <ion-icon class="email" name="mail-outline"></ion-icon>
                <p>Bienvenido administrador, aquí se muestra todos los Tickets las cuales podra
                    eliminar, modificar e imprimir.
                </p>
            </div>

            <div class="columna4">
                <ul>
                    <li><a href="#">
                            <ion-icon name="list-outline"></ion-icon>
                            Todos los Tickets
                            <span class="badge">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="list-outline"></ion-icon>
                            Todos los Tickets
                            <span class="badge">0</span>
                        </a>
                    </li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </main>
</body>

</html>