<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/tickets.css">
    <title>tickets</title>
</head>

<body>
    <main>
        <div class="header">
            <div style="font-size: 30px; font-weight: 600; color: #34495e;">Panel Administrativo</div>
            <div class="fechaHora">
                <div class="time" style="display: inline;">05/05/2025</div>
                <ion-icon class="iconDate" name="calendar-outline"></ion-icon>
            </div>
            <div class="linea"></div>
        </div>

        <div class="contenido">
            <div class="texto">
                <ion-icon class="email" name="mail-outline"></ion-icon>
                <p>Bienvenido administrador, aquí se muestra todos los Tickets las cuales podra
                    eliminar, modificar e imprimir.
                </p>
            </div>

            <div class="columna4">
                <ul>
                    <li><a href="#">
                            <ion-icon name="list" class="ico"></ion-icon>
                            Todos los Tickets
                            <span class="badge">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="mail" class="ico"></ion-icon>
                            Tickets Pendientes
                            <span class="badge">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="folder-open" class="ico"></ion-icon>
                            Tickets en proceso
                            <span class="badge">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/like.png" class="ico" alt="" width="20px" height="20px">
                            Tickets resueltos
                            <span class="badge">0</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="formulario">
                <button id="openTicket" class="btnAgregar">Nuevo Ticket</button>

                <div id="ticketModal" class="modal">
                    <div class="modal-content">
                        <span id="closeModal" class="close">&times;</span>
                        <h3>🎫 Nuevo Ticket</h3>
                        <form id="ticketForm">
                            <label>Fecha
                                <input type="date" id="fecha" required>
                            </label>
                            <label>Nombre
                                <input type="text" id="nombre_usuario" required>
                            </label>
                            <label>Email
                                <input type="email" id="email_cliente" required>
                            </label>
                            <label>Departamento
                                <select id="departamento" required>
                                    <option value=""  disabled selected>Seleccione</option>
                                    <option value="Software">Software</option>
                                    <option value="Hardware">Hardware</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </label>
                            <label>Asunto
                                <input type="text" id="asunto" required>
                            </label>
                            <label>Problema de su producto
                                <textarea id="mensaje" rows="4" required></textarea>
                            </label>
                            <button type="submit" style="font-size: 15px;">Abrir ticket</button>
                        </form>
                    </div>
                </div>



            </div>

            <div class="tabla">
                <table id="tablaTickets">
                    <thead>
                        <tr>
                            <th class="numero">#</th>
                            <th>Fecha</th>
                            <th>Serie</th>
                            <th>Estado</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Departamento</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                         <!-- Filas se insertan desde JavaScript -->
                    </tbody>
                </table>
            </div>

        </div>
    </main>
    <script src="../js/tickets.js"></script>
    <script src="../js/obtener_tickets.js" type="module"></script>
</body>

</html>